extends layout 
block content 
  form(method="post", action="/users")
    div.form-group 
      label(for="postingDate") 日付
      input(type="date" name="postingDate").form-control
    div.form-group 
      label(for="amount") 金額
      input(type="text" name="amount").form-control
    div.form-group 
      label(for="shopId") 店名
      input(type="text" name="shopId").form-control
    div.form-group 
      label(for="memo") メモ 
      textarea(name="memo", cols="30", rows="10").form-control 
    div.form-group 
      label(for="img")
      input(type="file" name="img" accept="image/jpeg, image/png").form-control
    button(type="submit").btn.btn-primary レシートを登録